.selectBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;

  cursor: pointer;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid #336dff;
  padding: 0.75rem 1rem;

  background: #fff;
  width: 160px;
  height: 46px;

  color: #2f83f3;
  /*글자 스타일*/
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.4rem */
}

.selectBox.open {
  color: #2f83f3;
  overflow: visible; /* 잘리지 않게 */
}
.optionList {
  color: black;
  display: none;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.optionList.open {
  margin-top: 270px;
  margin-left: 250px;
  display: grid;
  width: 413px;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);

  z-index: 2;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg); /* 열리면 화살표 뒤집기 */
}

.optionList {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}

.optionItem {
  display: flex;
  width: 119px;
  padding: 0.75rem 0rem;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  border-radius: 6.25rem;
  border: 1px solid var(--Foundation-main-blue-100, #bfd9fb);
  color: #2f83f3;
}

.optionItem:hover {
  background: var(--Foundation-main-blue-50, #eaf3fe);
}
.optionItem:active {
  border: 1px solid #2f83f3;
  background: #2f83f3;
  color: #fff;
}
