.selectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: #d9d9d9;
  padding: 8px;
  border-radius: 100px;
  transition: max-height 0.3s ease; /* height 대신 max-height로 애니메이션 */
  width: 155px;
  max-height: 40px; /* 기본 높이 */
  overflow: hidden;
}

.selectBox.open {
  max-height: 200px; /* 열렸을 때 */
  background-color: #d9d9d9;
  border-radius: 10px;
}
.optionList {
  color: black;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
