.selectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  background: #d9d9d9;
  padding: 8px;
  border-radius: 10px;
  max-height: 40px; /* 기본 높이 */
  width: 155px;

  transition: max-height 0.3s ease; /* height 대신 max-height로 애니메이션 */
  overflow: hidden;
}

.selectBox.open {
  max-height: 200px; /* 열렸을 때 */
  background-color: #d9d9d9;
  border-radius: 10px;
}
.optionList {
  color: black;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg); /* 열리면 화살표 뒤집기 */
}

.optionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.optionItem {
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.optionItem:hover {
  background: #b0b0b0;
}
