* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: #fff;
}

:root {
  --content-width: 1080px; 
  --side-gutter: 100px; 
  --gutter: 20px; 
  user-select: none;
}

.container {
  width: min(var(--content-width), calc(100vw - (var(--side-gutter) * 2)));
  margin-inline: auto;
  position: relative;
}
@media (min-width: 1280px) {
  .container {
    width: var(--content-width);
  } 
}

html,
body {
  overflow-x: hidden;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gutter);
}


.grid > div {
  background: rgba(255, 0, 0, 0.12);
  outline: 1px solid rgba(0, 0, 0, 0.05);
}
